<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Travel - Travlr Getaways</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <div id="background">
        <div id="page">
            {{> header }}
            <div id="contents">
                <div class="box">
                    <div>
                        <div class="body">
                            <h1>Travel</h1>
                            <form id="searchForm" action="/travel" method="get">
   	 							<input type="text" name="name" placeholder="Trip Name">
    							<input type="text" name="resort" placeholder="Resort">
    							<input type="number" name="minPrice" placeholder="Min Price">
    							<input type="number" name="maxPrice" placeholder="Max Price">
    							<select name="sortBy">
        							<option value="">Sort By</option>
        							<option value="priceAsc">Price: Low to High</option>
        							<option value="priceDesc">Price: High to Low</option>
        							<option value="nameAsc">Name: A to Z</option>
        							<option value="nameDesc">Name: Z to A</option>
    							</select>
    							<button type="submit">Search</button>
							</form>

                            {{#if message}}
                                <p>{{message}}</p>
                            {{else}}
                                <ul id="sites">
                                    {{#each trips}}
                                        <li>
                                            <a href="/api/trips/{{this.code}}"><img src="images/{{this.image}}" alt="Img"></a>
                                            <h2><a href="/travel/{{this.code}}">{{this.name}}</a></h2>
                                            {{{this.description}}}
                                        </li>
                                    {{/each}}
                                </ul>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> footer }}
    </div>
</body>
</html>
